name: Full Stack ToDo App Deployment

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASS: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_PASS }}

      - name: Build and push backend image
        run: |
          docker build -t $DOCKER_USER/todo-backend:latest ./backend
          docker push $DOCKER_USER/todo-backend:latest

      - name: Build and push frontend image
        run: |
          docker build -t $DOCKER_USER/todo-frontend:latest ./frontend
          docker push $DOCKER_USER/todo-frontend:latest

      - name: SSH and deploy on remote server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            export DOCKER_USER=${{ secrets.DOCKER_USERNAME }}
            cd /home/ubuntu/to-do-app
            docker pull $DOCKER_USER/todo-backend:latest
            docker pull $DOCKER_USER/todo-frontend:latest
            docker-compose down
            docker-compose up -d 
